{{#with program}}
<main>
    <div>
        {{#with excursion}}
        <h1>{{name}}</h1>
        {{#with location}}
        <p>in {{city}}, {{country}}</p>
        {{/with}}
        <p>Date: <time>{{date}}</time></p>
        <h2>Program:</h2>
        <ul>
            {{#each program}}
            <li>{{name}}, <em>{{type}}</em>, <b>{{duration}} hours</b><br>
                {{#with details}}
                {{#with museum}}
                <strong>Location: {{name}}</strong>
                {{#with location}}
                <p><em>{{address}}, {{city}}, {{country}}</em></p>
                {{/with}}
                <ul>
                    <h2>Exhibits: </h2>
                    {{#each exhibits}}
                    <li>
                        {{name}},
                        {{#if artist}}
                        <p>Artist: {{artist}}</p>
                        {{else}}
                        <p><u>without Artist</u></p>
                        {{/if}}
                        <p>About: {{description}}</p>
                        <p>
                            {{#if audio_guide}}
                            <b>With audio guide</b>
                            {{else}}
                            <b>without audio guide</b>
                            {{/if}}
                        </p>
                    </li>
                    {{/each}}
                </ul>
                {{/with}}
                {{#with venue}}
                <strong>Location: {{name}}</strong>
                {{#with location}}
                <p><em>{{address}}, {{city}}, {{country}}</em></p>
                {{/with}}
                {{/with}}
                <ul>
                    {{#each performers}}
                    <li>{{name}}, about: <em>{{type}}</em></li>
                    {{/each}}
                </ul>
                <h3>You will be accompanied:</h3>
                {{#with guide}}
                {{name}}, speaks: {{language}}, rating: {{rating}}
                {{/with}}
                {{/with}}
            </li>
            <hr>
            {{/each}}
        </ul>
        {{/with}}
    </div>
</main>
{{/with}}