<main>
    <section>
        {{#with formBlock}}
        <div class="row">
            <div class="col-8">
                <h1>{{header}}</h1>
                <p>{{rating.title}}: {{rating.value}}</p>
                {{#with actionBlock}}
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        <a href="" class="nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
                <hr class="my-5">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-6">
                            {{#with report}}
                            <p>{{title}}</p>
                            <a href="{{button.link}}" class="btn btn-secondary">{{button.text}}</a>
                            {{/with}}
                        </div>
                    </div>
                </div>
                <hr class="my-5">
                {{/with}}
                <div>
                    {{#with feedbackBlock}}
                    <h2>{{title}}</h2>
                    <div class="mt-5">
                        {{#each buttons}}
                        <a href="{{link}}" class="btn {{#if isWarning}} btn-warning {{/if}} {{#if isSuccess}} btn-success {{/if}} {{#if isDanger}} btn-danger {{/if}}">{{text}}</a>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>
            </div>
            <div class="col-4">
                {{#with goodsInfo}}
                <div class="card">
                    <div class="card-body">
                        <img src="{{photo}}" alt="">
                        <h6 class="mt-4">{{name}}</h6>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h6>{{price}}</h6>
                        {{#if inMarket}}
                        <p class="">Є в наявності</p>
                        {{/if}}
                        {{#each buttons}}
                        <div class="my-2">
                            <a href="{{link}}" class="btn {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-secondary {{/if}}">{{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        {{#with seller}}
                        <div>{{title}}: {{value}}</div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
        <hr class="my-5">
    </section>
    <section>
        {{> reviewItem}}
    </section>
    <section>
        {{> shopaction}}
    </section>
</main>