<main>
    <section class="mt-5">
        {{#with newsBlock}}
        <h1 class="text-center">{{title}}</h1>
        <div class="row">
            {{#each cards}}
            <div class="col-3">
                <div class="card text-bg-dark mt-4">
                    <h6 class="card-header">
                        {{title}}
                        {{#if isTop}}
                        <span class="badge text-bg-danger">Топ</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-success">Нова</span>
                        {{/if}}
                    </h6>
                    <div class="card-body">{{description}}</div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <hr class="mt-5">
    </section>
    <section class="row mt-5">
        {{#with goodsBlock}}
        <div class="col-8">
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    <a href="#" class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-4"></div>
        {{#each cards}}
        <div class="col-4 mt-5">
            <div class="card">
                <img src="{{image}}" alt="item photo" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{title}}
                        {{#if isHot}}
                        <span class="badge text-bg-warning">HOT!</span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge text-bg-primary">Нове</span>
                        {{/if}}
                    </h5>
                    <p class="des">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
        <hr class="mt-5">
    </section>
    <section class="mt-5 text-bg-dark">
        {{#with subscribe}}
        <h2 class="ms-2">{{header}}</h2>
        <p class="ms-2">{{description}}</p>
        {{#each buttons}}
        <div class="p-2">
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr class="mt-5">
    <section class="mt-5 text-bg-success text-center">
        {{#with service}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
        <div class="pb-2">
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
        </div>
        {{/each}}
        {{/with}}
    </section>
    {{!--
    <hr class="mt-5">
    <section class="row">
        {{#each footer}}
        <div class="col-2">
            <div class="nav flex-column">
                {{#each this}}
                <div class="nav-item">
                    <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </section> --}}
</main>