<main>
    <section class="mt-5">
        {{#with header}}
        <h2>{{title}}</h2>
        <div class="mt-4">
            {{#with button}}
            <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
            {{/with}}
        </div>
        {{/with}}
        <hr class="mt-5">
    </section>
    <section class="mt-5">
        <div class="row">
            {{#each goodsBlock}}
            {{> cartGoodsItem}}
            {{/each}}
            <hr class="mt-5">
        </div>
    </section>
    <section class="mt-5">
        {{#with total}}
        <div>
            <h2>{{title}}</h2>
            <p class="display-5">{{amount}}</p>
            <p>{{delivery}}</p>
            {{#each buttons}}
            <div>
                <a href="{{link}}" class=" mt-3 btn {{#if isSuccess}} btn-success{{/if}} {{#if isOutline}} btn-outline-success{{/if}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <hr class="mt-5">
    </section>
    <section class="mt-5">
        {{#with goodsOtherBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4">
                {{> shopcard}}
            </div>
            {{/each}}
        </div>
        {{/with}}
        <hr class="mt-5">
    </section>
    <section class="mt-5 text-bg-dark">
        {{#with subscribe}}
        <h2>{{header}}</h2>
        <p>{{description}}</p>
        {{#each buttons}}
        <div class="mt-3"><a href="{{link}}" class="btn btn-primary {{#if @last}}mb-3{{/if}}">{{text}}</a></div>
        {{/each}}
        {{/with}}
    </section>
</main>