<main>
    <div>
        {{#with navigation}}
        <div class="row">
            {{#each links}}
            <a style="text-decoration: none;" href={{href}}"" class="col-2">{{text}}</a>
            {{/each}}
            {{#with button}}
            <a href="{{href}}" class="btn btn-primary col-2">{{text}}</a>
            {{/with}}
        </div>
        {{/with}}
        <hr>
        <br>
        <br>
    </div>
    <div>
        {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a class="btn btn-primary" href="{{button.href}}">{{button.text}}</a>
        {{/with}}
        <br>
        <br>
        <hr>
        <br>
        <br>
    </div>


    <div>
        {{#with city}}
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-5 gx-2 gy-3">
                <div class="card">
                    {{#with picture}}
                    <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                    {{/with}}
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <p>{{description}}</p>
                        <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <br>
        <hr>
        <br>
        <br>
    </div>

    <div>
        {{#with winner}}
        <h2>{{title}}</h2>
        <br>
        {{#with table}}
        <table class="table">

            <thead>
                <tr>
                    {{#each head}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            {{#each user}}
            <tbody>
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{/with}}
        {{/with}}
        <br>
        <br>
        <hr>
        <br>
        <br>
    </div>

    <div>
        {{#with gallery}}
        <h2>{{title}}</h2>
        <br>
        <div class="row">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">{{name}}</div>
                    <ul class="list-group">
                        {{#each items}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <br>
        <hr>
        <br>
        <br>
    </div>
    <div>
        {{#with relaxion}}
        <div class="display-3">{{title}}</div>
        <div class="row">
            {{#each cards}}
            <div class="col-5 gy-2 gx-3">
                <div class="card text-bg-secondary">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <p>{{description}}</p>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <br>
        <hr>
        <br>
        <br>
    </div>

    <div>
        {{#with rest}}
        <div class="row">
            {{#each cards}}
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <p>{{description}}</p>
                        <button class="btn btn-primary">{{button}}</button>
                    </div>
                    <div class="card-footer">{{footer}}</div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>
    <div>
        {{#with proposition}}
        <div class="display-2">{{title}}</div>
        <br>
        <div class="row">
            {{#each card}}
            <div class="col-5">
                <div class="card">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <div>{{description}}</div>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br><br>
        <hr>
        <br><br>
    </div>
    <div>
        {{#with footer}}
        <h5>{{title}}</h5>
        <br>
        <div class="row">
            <div class="col-3">
                {{#each navigation}}
                <p> <a style="text-decoration: none;" href="{{href}}" class="btn btn-link">{{text}}</a></p>
                {{/each}}
            </div>

            <div class="col-3">
                {{#each socialMedia}}
                <p><a href="{{link}}" class="btn btn-outline-dark">{{name}}</a></p>
                {{/each}}
            </div>

            <div class="col-4">
                {{#each partners}}
                <p><a href="{{link}}" class="btn btn-outline-info">{{name}}</a></p>
                {{/each}}
            </div>

        </div>

    </div>
    {{/with}}
    </div>





    {{!-- <div>
        {{#with gallery}}
        <div class="display-3">{{title}}</div>
        <div class="row">
            {{#each cards}}
            <div class="col-5 gx-2 gy-3">
                <div class="card text-bg-secondary">
                    <div class="card-header">{{name}}</div>
                    <div class="card-body">
                        <h5>{{items.[0]}}</h5>
                        <div>{{items.[1]}}, {{items.[2]}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <hr>
        <br>
        <br>
    </div>

    <div>
        <div class="row">
            {{#each relaxion.cards}}
            <div class="col-6 g-2">
                <div class="card text-center">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <div>{{description}}</div>
                        <br>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">Card footer</div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div>
        {{#with relaxion}}
        <div class="display-2">{{title}}</div>
        <br>
        <div class="row">
            {{#each cards}}
            <div class="col-5 gx-2 gy-3">
                <div class="card text-bg-warning">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5>{{title}}</h5>
                        <div>{{description}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div> --}}
</main>