<main>
    <section>
        {{#with heading}}
        {{#with main}}
        <div class="card">
            <div class="card-body">
                <h1>{{title}}</h1>
                <p>{{text}}</p>
                <button class="btn btn-primary">{{button_text.solid}}</button> <br> <br>
                <button class="btn btn-outline-primary">{{button_text.outline}}</button>
            </div>
        </div>
    </section>
    {{/with}}
    {{#with second}}
    <section>
        <div class="card">
            <div class="card-body">
                <h2>{{title}}</h2>
                <p>{{text}}</p>
                <button class="btn btn-secondary">{{button_text.solid}}</button> <br> <br>
                <button class="btn btn-outline-secondary">{{button_text.outline}}</button>
            </div>
        </div>
    </section>
    {{/with}}
    {{#with subblock}}
    <section>
        <div class="card">
            <div class="card-body">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
                <button class="btn btn-dark">{{button_text.solid}}</button> <br> <br>
                <button class="btn btn-outline-dark">{{button_text.outline}}</button>
            </div>
        </div>
    </section>
    {{/with}}
    {{/with}}
    <section>
        {{#with nested_display}}
        <div class="card">
            <div class="card-body">
                <div class="display-1">{{title}}</div>
                {{#with children_display}}
                <div class="card">
                    <div class="card-body">
                        <div class="display-4">{{title}}</div>
                        <p>{{text}}</p>
                        <button class="btn btn-warning">{{button.text}}</button>
                    </div>
                </div>
                <br>
                {{/with}}
                <h6>{{header_text}}</h6>
                <button class="btn btn-info">{{button.text}}</button>
            </div>
        </div>
        {{/with}}
    </section>
    {{#with paragraph}}
    <section>
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p>{{text}}</p>
                {{!-- <button class="btn btn-link" onclick="window.location.href='{{button.url}}">{{button.text}}</button> --}}
                <button style="text-decoration: none;" class="btn btn-link">
                    <a style="text-decoration: none;" href="{{button.url}}">{{button.text}}</a>
                </button>
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{#each list_name}}
                            <li>
                                <button style="text-decoration: none;" class="btn btn-link">
                                    <a style="text-decoration: none;" href="{{url}}">{{text}}</a>
                                </button>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/with}}
</main>