{{#each reviewList}}
<div class="card my-5">
    <div class="card">
        <div class="card-body">
            {{#with title}}
            <h5>{{userName}}</h5>
            <p>{{caption}}</p>
            <p>{{date}}</p>
            {{/with}}
        </div>
    </div>
    {{#with reviewBody}}
    <div class="card-body">
        <p>{{seller.title}}: {{seller.value}}</p>
        <p>{{rating.title}}: {{rating.value}}</p>
        {{#each text}}
        <p>{{this}}</p>
        {{/each}}
        <div>
            <div>
                {{#with advantages}}
                <b>{{title}}:</b>
                <div>{{text}}</div>
                {{/with}}
            </div>
            <div class="mt-4">
                {{#with disadvantages}}
                <b>{{title}}:</b>
                <div>{{text}}:</div>
                {{/with}}
            </div>
        </div>
        <div class="mt-4">
            {{#each images}}
            <img src="{{this}}" alt="">
            {{/each}}
        </div>
        <div class="card mt-4 ms-4">
            <div class="card-body">
                {{#each coments}}
                <div>
                    <h5>{{userName}}</h5>
                    <p>{{date}}</p>
                    <p>{{text}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
</div>
{{/each}}